/* Mobile first */
* {
    box-sizing: border-box;
}
/* section accueil */
.section__card {
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-image: url(/img/ciel-bleu-01.jpg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin: 10px;
}

h1 {
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

.aside__img {
    border-bottom: 2px solid #00e130;
    border-radius: 5px 5px 0 0;
    width: 100%;
    object-fit: cover;
}
/* fin section accueil */