/********** Mobile first **********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/********** Début section accueil **********/
.section__card {
    height: 230px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-image: url(/img/ciel-bleu-01.jpg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin: 10px;
}

h1 {
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

.aside__img {
    width: 100%;
    object-fit: cover;
}
/********** Fin section accueil **********/

/********** Début footer **********/
.footer {
    margin-top: 64px;
    background-color: #f8f8f8;
    padding: 32px;
}

.footer__copyright {
    background-color: blue;
}
/********** Fin footer **********/

/********** Début card **********/
.card {
    width: 374px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin: 10px;
}

.card__img {
    height: 210px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.card__content {
    height: 40%;
    padding: 12px 28px;
    background-color: lightcoral;
}

.card__title {
    color: #333;
    font-size: 1.5rem;
}

.card__meta {
    font-size: 0.75rem;
    margin: 10px 0;
}

.card__description {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin: 0;
}
/********** Fin card **********/


/********** Début Animation **********/

#caroussel {
    overflow: hidden;
}

.images {
    /* durée de l'animation */
    animation-duration: 5s;

    /* nommé l'animation */
    animation-name: mesImages;

    animation-iteration-count: infinite;
}
/* Définir les rêgles de l'animation */
@keyframes mesImages {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-46.5px);
    }
    40% {
        transform: translateY(-93px);
    }
    60% {
        transform: translateY(-139.5px);
    }
    80% {
        transform: translateY(-186px);
    }
    100% {
        transform: translateY(0);
    }
}
/********** Fin Animation **********/

/********** début Média queries 415px **********/
@media screen and (min-width: 415px) {

    .section__card {
            height: 545px;
            /* 616px ordi*/
    }
    /* display: flex; sur l'éléments parent permet aux éléments enfant d'être alignés sur une ligne. */
    .cards {
        display: flex;
        justify-content: space-around;
        /*justify-content: alignement horizontale */
        flex-wrap: wrap;
    }

        /* Définir les rêgles de l'animation */
        @keyframes mesImages {
            0% {
                transform: translateY(0);
            }
    
            20% {
                transform: translateY(-109px);
            }
    
            40% {
                transform: translateY(-218px);
            }
    
            60% {
                transform: translateY(-327px);
            }
    
            80% {
                transform: translateY(-436px);
            }
    
            100% {
                transform: translateY(0);
            }
        }
}

/********** Fin Média queries 415px **********/


/********** début Média queries 1240px **********/
@media screen and (min-width: 1240px) {

    .section__card {
            height: 810px;
            /* 616px ordi*/
    }
    /* display: flex; sur l'éléments parent permet aux éléments enfant d'être alignés sur une ligne. */
    .cards {
        display: flex;
        justify-content: space-around;
        /*justify-content: alignement horizontale */
        flex-wrap: wrap;
    }
        /* Définir les rêgles de l'animation */
        @keyframes mesImages {
            0% {
                transform: translateY(0);
            }
    
            20% {
                transform: translateY(-163px);
            }
    
            40% {
                transform: translateY(-326px);
            }
    
            60% {
                transform: translateY(-489px);
            }
    
            80% {
                transform: translateY(-652px);
            }
    
            100% {
                transform: translateY(0);
            }
        }
        }
}
/********** Fin Média queries 1240px **********/