/* card */
.card {
    background-color: lightcoral;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin: 10px;
}

.card__img {
    width: 150%;
    padding: 25px 25px 0 25px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.card__content {
    padding: 12px 28px;
}

.card__title {
    color: #333;
}

.card__meta {
    font-size: 0.75rem;
    margin: 10px 0;
}

.card__description {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin: 0;
}


// @media screen and(min-width: 540px) {
//     /* display: flex; sur l'éléments parent permet aux éléments enfant d'être alignés sur une ligne. */
//         .cards {
//             display: flex;
//             justify-content: space-around;
//             /*justify-content: alignement horizontale */
//             flex-wrap: wrap;
//         }
// }